@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

/* || UTILITY CLASS */
.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --FF: "Roboto", sans-serif;
  --FS-HEADING: 30px;
  --FS: 28px;

  /* COLORS */
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGCOLOR: orange;
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: #fff;
  --FONT-COLOR: aliceblue;
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: #fff;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #fff;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: aliceblue;
  --LINK-HOVER: hsl(0, 9%, 87%);
  --NAV-BGCOLOR: #fff;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;
}

/* || GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  /* background: linear-gradient(steelblue, #fff); */
  background-color: #161616;
  font-family: var(--FF);
  display: flex;
  flex-flow: column nowrap;
}

/* || HEADER & NAV */
.header__logo {
  border-radius: 40%;
}

.header__ul a:any-link {
  color: var(--LINK-HOVER);
}

.header__ul a:hover {
  font-weight: 700;
  color: white;
}

/* || MAIN (GENERAL) */
.main {
  display: flex;
  flex-flow: row nowrap;
  padding: 25px;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.main__article {
  display: flex;
  flex-flow: column nowrap;
  padding: var(--PADDING-TB) 0;
}

.main__article:first-child {
  width: 60%;
  margin: 80px 20px;
}

.main__article:last-child {
  width: 40%;
  margin: 60px 20px;
  align-items: center;
}

.main__img {
  width: 85%;
  height: auto;
}

.main__h2 {
  font-size: var(--FS-HEADING);
  color: var(--FONT-COLOR);
}

.main__p {
  font-size: var(--FS);
  color: var(--FONT-COLOR);
}

/* || FOOTER */
.footer {
  display: flex;
  flex-flow: row nowrap;
  background: linear-gradient(rgba(0, 0, 0, 0.276), rgba(255, 255, 255, 0.5));
}

.footer__section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 8px 0 0 0;
}

.footer__img {
  width: 15%;
  height: auto;
}

/* || MEDIA QUERIES */
/* Extra Small devices (small phones, less than 600px) */
@media only screen and (max-width: 600px) {
  :root {
    /* FONTS */
    --FF: "Roboto", sans-serif;
    --FS-HEADING: 25px;
    --FS: 17px;
    --FS-BUTTON: 18px;
  }

  /* || HEADER & NAV */
  .header_title_line {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    width: 100%;
  }

  /* Hamburger Menu style */
  .menu__button {
    width: 48px;
    height: 60px;
    background-color: transparent;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .menu__icon,
  .menu__icon::before,
  .menu__icon::after {
    width: 40px;
    height: 5px;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    transition: all 0.5s;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    transform: translate(-20px, -12px);
  }

  .menu__icon::after {
    transform: translate(-20px, 12px);
  }

  header:hover .menu__icon {
    background-color: transparent;
    transform: rotate(720deg);
  }

  header:hover .menu__icon::before {
    transform: translateX(-20px) rotate(45deg);
  }

  header:hover .menu__icon::after {
    transform: translateX(-20px) rotate(-45deg);
  }

  header:hover nav {
    display: block;
  }

  .header__nav {
    display: none;
    background: rgba(70, 131, 180, 0.475);
    transform-origin: top center;
    animation: showMenu 0.5s ease-in-out forwards;
  }

  @keyframes showMenu {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .header__ul {
    display: flex;
    flex-flow: column nowrap;
  }

  .header__ul li {
    list-style: none;
    padding: 10px 0;
    border-top: 2px solid dodgerblue;
  }

  .header__ul a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: var(--FS);
  }

  .header__ul a:any-link {
    color: var(--LINK-HOVER);
  }

  .header__ul a:hover {
    font-weight: 700;
    color: white;
    transform: scale(1.1);
  }

  /* MAIN */
  .main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-content: space-around;
  }

  .main__article:first-child {
    width: 90%;
    margin: auto;
    height: 35vh;
  }

  .main__article:last-child {
    width: 90%;
    margin: auto;
  }

  .main__h2 {
    font-size: var(--FS-HEADING);
    color: var(--FONT-COLOR);
    margin-bottom: 20px;
  }

  .main__p {
    font-size: var(--FS);
    color: var(--FONT-COLOR);
    margin-bottom: 30px;
  }

  .main__button {
    width: 40%;
    margin: 0 auto;
    height: 20%;
    border-radius: 10px;
    background-color: hsla(210, 100%, 56%, 0.256);
  }
  
  .main__button p{
    font-size: var(--FS-BUTTON);
    padding: 10px 0;
    color: #fff;
  }

  .main__img {
    margin-top: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (width >= 601px) {
  :root {
    /* FONTS */
    --FS-HEADING: 24px;
    --FS: 18px;
    --FS-NAV: 24px;
    --FS-BUTTON: 19px;

    /* COLORS */
    --BGCOLOR-FADE: rgb(252, 220, 160);
    --BGCOLOR: orange;
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --BORDER-COLOR: #333;
    --BUTTON-COLOR: #fff;
    --FONT-COLOR: aliceblue;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #fff;
    --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
    --HERO-COLOR: #fff;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-ACTIVE: orange;
    --LINK-COLOR: aliceblue;
    --LINK-HOVER: hsla(0, 0%, 100%, 0.6);
    --NAV-BGCOLOR: #fff;

    /* STANDARD PADDING */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;
  }

  /* HEADER */
  .header_title_line {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
  }

  .menu__button {
    display: none;
    position: absolute;
    left: -100000px;
  }

  .header__nav {
    display: flex;
    position: absolute;
    right: 20px;
    top: 30px;
  }

  .header__ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
  }

  .header__ul a {
    margin-right: 10px;
    text-decoration: none;
    font-size: var(--FS-NAV);
    font-weight: 600;
    letter-spacing: 2px;
  }

  /* MAIN */
  .main {
    width: 90%;
    margin: auto;
  }

  .main__article:first-child {
    padding-right: 10px;
  }

  .main__img {
    width: 290px;
    height: 290px;
  }

  .main__h2 {
    font-size: var(--FS-HEADING);
    color: var(--FONT-COLOR);
    margin-bottom: 20px;
  }

  .main__p {
    font-size: var(--FS);
    color: var(--FONT-COLOR);
    margin-bottom: 20px;
  }

  .main__button {
    width: 40%;
    height: 20%;
    border-radius: 10px;
    background-color: hsla(210, 100%, 56%, 0.256);
    font-size: var(--FS-BUTTON);
  }

  .main__button p{
    font-size: var(--FS-BUTTON);
    padding: 10px 0;
    color: #fff;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  :root {
    /* FONTS */
    --FS-HEADING: 27px;
    --FS: 23px;
    --FS-NAV: 28px;
    --FS-BUTTON: 24px;
  }

  /* HEADER */
  .header__ul a {
    margin-right: 10px;
    text-decoration: none;
    font-size: var(--FS-NAV);
    font-weight: 600;
    letter-spacing: 2px;
  }

  .main__img {
    width: 290px;
    height: 290px;
  }

  .main__h2 {
    font-size: var(--FS-HEADING);
    color: var(--FONT-COLOR);
    margin-bottom: 20px;
  }

  .main__p {
    font-size: var(--FS);
    color: var(--FONT-COLOR);
    margin-bottom: 20px;
  }

  .main__button {
    height: 20%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    /* FONTS */
    --FS-HEADING: 30px;
    --FS: 25px;
    --FS-NAV: 32px;
    --FS-BUTTON: 26px;
  }

  /* HEADER */
  .header__ul a {
    margin-right: 25px;
    text-decoration: none;
    font-size: var(--FS-NAV);
    font-weight: 600;
    letter-spacing: 2px;
  }

  .main__img {
    width: 380px;
    height: 320px;
  }

  .main__h2 {
    font-size: var(--FS-HEADING);
    color: var(--FONT-COLOR);
    margin-bottom: 30px;
  }

  .main__p {
    font-size: var(--FS);
    color: var(--FONT-COLOR);
    margin-bottom: 30px;
  }

  .main__button {
    height: 20%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    /* FONTS */
    --FS-HEADING: 32px;
    --FS: 28px;
    --FS-NAV: 35px;
    --FS-BUTTON: 24px;
  }

  /* HEADER */
  .header__ul a {
    margin-right: 40px;
    text-decoration: none;
    font-size: var(--FS-NAV);
    font-weight: 600;
    letter-spacing: 5px;
  }

  .main__img {
    width: 450px;
    height: 400px;
  }

  .main__h2 {
    font-size: var(--FS-HEADING);
    color: var(--FONT-COLOR);
    margin-bottom: 30px;
  }

  .main__p {
    font-size: var(--FS);
    color: var(--FONT-COLOR);
    margin-bottom: 30px;
  }

  .main__button {
    margin-top: 40px;
  }
}
